.beer-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  /* margin-left: 90%; */
  /* margin-top: -20px; */
  /* margin-bottom: -80px; */
}

.icon {
  width: 30px;
  height: 45px;

}


.light-beer-icon {
  position: relative;
  right: -5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0px 10px;
}

.switch input {
  opacity: 0;
  width: 5px;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0e0e0;
  transition: 0.4s;
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 7.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: grey;
}

input:checked + .slider:before {
  transform: translateX(60px);
}

input:checked + .slider:before {
  background-color: #292828;
}

input:checked + .slider:after {
  content: "Light";
  color: white;
  font-size: 16px;
}

input + .slider:after {
  content: "Dark";
  position: absolute;
  font-size: 16px;
  color: black;
  font-weight: 500;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}

input:checked + .slider:after {
  left: 15px;
  right: auto;
}
