
.delete-btn {
  position: relative;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
  transition: background-color 0.3s;
}

.delete-btn, .delete-icon, .delete-text {
  transition: all 0.3s;
}

.delete-text {
  color: white;
  font-weight: 500;
}

.delete-icon {
  position: absolute;
  transform: translateX(60px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-svg {
  width: 20px;
  transition: fill 0.3s;
}

.delete-btn:hover {
  background: #cc0000;
}

.delete-btn:hover .delete-text {
  color: transparent;
}

.delete-btn:hover .delete-icon {
  width: 45px;
  transform: translateX(0);
}

.delete-btn:active .delete-icon {
  background-color: #b20000;
}

.delete-btn:active {
  border: 1px solid #b20000;
}
