.edit-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0 20px;
    background-color: rgb(217, 233, 76);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(158, 170, 48);
    overflow: hidden;
    transition: background-color 0.3s;
}

.edit-text {
    transition: opacity 0.3s;
}

.edit-svg {
    width: 20px;
    height: 20px;
    fill: white;
    position: absolute;
    right: -30px; 
    transition: right 0.3s;
}

.edit-btn:hover .edit-text {
    opacity: 0;
}

.edit-btn:hover .edit-svg {
    right: 40px; 
}

.edit-btn:active {
    transform: translate(3px, 3px);
    transition-duration: 0.3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
