.upvote-downvote {
    display: flex;
    align-items: center;
}

.upvote-button,
.downvote-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.upvote-button.active,
.downvote-button.active {
    font-weight: bold;
    color: blue;
}
