/* MyProfile.css */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: rgba(249, 249, 249, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.profile-container h1 {
    text-align: center;
    color: #333;
}

.profile-field {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}

.profile-field label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 15px;
}

.profile-field span {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
}

.profile-field input {
    padding: 0px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 15px;
}

.edit-button {
    background-color: #5487b6;
    color: white;
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #363d80;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container .beer-button {
    margin-right: auto;
    background-color: #4CC713;
    height: 40px;
    width: 100px;
}

.button-container .delete-button {
    margin-left: auto;
}

/* Avatar-related styles */
.avatar-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.avatar-upload-label {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.upload-avatar-button {
    display: inline-block;
    position: relative;
    padding: 14px 25px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 2em;
    font-weight: bold;
  }
  
  .upload-avatar-button:before, .upload-avatar-button:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }
  
  .upload-avatar-button:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
  }
  
  .upload-avatar-button:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
  }
  
  .upload-avatar-button:hover:before {
    border-color: #bdd3ef;
  }
  
  .upload-avatar-button:hover:after {
    border-top-color: #eff1f7;
    animation-play-state: running;
  }
  
  @keyframes downloadArrow {
    0% {
      margin-top: -7px;
      opacity: 1;
    }
  
    0.001% {
      margin-top: -15px;
      opacity: 0.4;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      margin-top: 0;
      opacity: 0.4;
    }
  }
  

/* Dark Mode */
body.dark-mode .profile-container {
    background: rgba(30, 30, 30, 0.3);;
    border: 1px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark-mode .profile-container h1 {
    color: #e0e0e0;
}

body.dark-mode .profile-field {
    background: rgba(30, 30, 30, 0.5);;
    border-bottom: 1px solid #555;
}

body.dark-mode .profile-field label {
    color: #ccc;
}

body.dark-mode .profile-field span {
    color: #e0e0e0;
}
/* 
body.dark-mode .profile-field input {
    border: 1px solid #666;
    background: #444;
    color: #e0e0e0;
} */

body.dark-mode .edit-button,
body.dark-mode .save-button,
body.dark-mode .delete-button,
body.dark-mode .upload-avatar-button {
    background-color: #4CAF50;
    color: white;
}

body.dark-mode .edit-button:hover,
body.dark-mode .save-button:hover,
body.dark-mode .delete-button:hover,
body.dark-mode .upload-avatar-button:hover {
    background-color: #45a049;
}

body.dark-mode .avatar-img {
    border: 2px solid #666;
}

body.dark-mode .avatar-upload-label {
    color: #999;
}
