/* Container styling */
.survey-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.survey-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Description styling */
.survey-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Question styling */
.survey-question {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Choices styling */
.survey-choice {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.survey-choice img {
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.survey-choice p {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

/* Average Rating styling */
.average-rating {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

/* Button styling */
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(217, 233, 76);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(158, 170, 48);
  transition-duration: 0.3s;
}

.Btn svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* General styling */
.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
