/* UserProfile.css */

.user-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.user-profile-container h1 {
    text-align: center;
    color: #333;
}

.user-profile-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.user-profile-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.user-profile-details label {
    font-weight: bold;
    color: #555;
}

.user-profile-details span {
    color: #666;
    word-break: break-all;
}

.user-not-found {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.author-avatar {
    width: 100px !important; 
    height: 100px !important;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ban-user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.user-ban-duration-input {
    width: 50%; 
    padding: 5px;
    text-align: center;
    font-size: 1em;
    margin-left: 200px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.user-ban-duration-input::-webkit-outer-spin-button,
.user-ban-duration-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.user-ban-button {
    padding: 10px 20px; 
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-right: 200px;
}

.user-ban-button:hover {
    background-color: #c82333;
}

.user-ban-duration-input::placeholder {
    font-size: 1em; 
}

.user-ban-info span {
    text-align: center !important;
    color: #f13e50 !important;
}

/* Dark Mode */
body.dark-mode .user-profile-container {
    background-color: #2e2e2e;
    border: 1px solid #444;
}

body.dark-mode .user-profile-container h1 {
    color: #e0e0e0;
}

body.dark-mode .user-profile-details div {
    background-color: #3a3a3a;
    border-bottom: 1px solid #555;
}

body.dark-mode .user-profile-details label {
    color: #ccc;
}

body.dark-mode .user-profile-details span {
    color: #e0e0e0;
}

body.dark-mode .user-not-found {
    color: #ff6b6b; 
}